.subscription__discount {
  position: absolute;
  top: 0%;
  left: 76.5%;
  width: 4vh;
  height: 4vh;
  border-radius: 50%;
  background: #db0000;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  font-family: SFProDisplay;
  font-size: 2.8vw;
  line-height: 1.8vh;
  color: #ffffff;
}
