.subscription__monthly {
  /* background: url("../../../images/shape-1.svg") no-repeat; */
  background: linear-gradient(
    0deg,
    rgba(73, 87, 149, 0.197154),
    rgba(73, 87, 149, 0.197154)
  );
  border: 1px solid #495795;
  border-radius: 20.9px;
  /* width: 40.9vw;
  height: 22vh;
  background-size: contain;
  margin-right: 2.6%; */
  width: 38.5vw;
  height: 22vh;
  /* background-size: contain; */
  margin-right: 3.6%;
  text-align: center;
}
