@import "../header/__links/header__links.css";
@import "../header/__close/header__close.css";
@import "../header/__restore/header__restore.css";

.header {
  margin: 11% auto 40.78%;
  max-width: 89vw;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
