@import "../__list-icon/_unlimited/content__list-icon_unlimited.css";
@import "../__list-icon/_export/content__list-icon_export.css";
@import "../__list-icon/_recognition/content__list-icon_recognition.css";

.content__list-icon {
  max-width: 26px;
  width: 100%;
  margin-right: 6px;
}
