@import "./__box/subscription__box.css";
@import "./__annually/subscription__annually.css";
@import "./__monthly/subscription__monthly.css";
@import "./__discount/subscription__discount.css";
@import "./__title/subscription__title.css";
@import "./__price/subscription__price.css";
@import "./__free/subscription__free.css";
@import "./__per-month/subscription__per-month.css";
@import "./_active/subscription_active.css";
@import "./__box/_inactive/subscription__box_inactive.css";
@import "./__discount/_inactive/subscription__discount_inactive.css";
@import "./__title/_inactive/subscription__title_inactive.css";
@import "./__price/_inactive/subscription__price_inactive.css";
@import "./__free/_inactive/subscription__free_inactive.css";
@import "./__per-month/_inactive/subscription__per-month_inactive.css";
@import "./__price/_span/subscription__price_span.css";
@import "./__price/_span/_inactive/subscription__price_span_inactive.css";

.subscription {
  display: flex;
  align-items: center;
  margin: 0 auto 2vh;
}
