.subscription__discount_inactive {
  position: absolute;
  top: 0%;
  left: 73.6%;
  width: 3.7vh;
  height: 3.6vh;
  border-radius: 50%;
  background: #db0000;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  font-family: SFProDisplay;
  font-size: 1.3vh;
  line-height: 1.8vh;
  color: #ffffff;
}
