@import "../footer/__info/footer__info.css";
@import "../footer/__links/footer__links.css";
@import "../footer/__link/footer__link.css";

.footer {
  margin-bottom: 3.23vh;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1.24vh;
  line-height: 1.6vh;
}
