.subscription__free {
  width: 18.4vh;
  margin: 0 0 0 -1%;
  font-family: SFProDisplay;
  font-size: 1.85vh;
  line-height: 2.75vh;
  text-transform: uppercase;
  background: #495795;
  white-space: nowrap;
}
