.button {
  width: 74.5vw;
  height: 6.7vh;
  margin: 0 auto 2vh;
  font-size: 5vw;
  line-height: 7vh;
  color: #ffffff;
  text-align: center;
  background: linear-gradient(270deg, #1987ff 0%, #19ccff 100%);
  border-radius: 30px;
  border: 0;
  padding: 0;
}
